@model Proyecto_Lab_IV.Models.Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="patente" class="control-label"></label>
                <input asp-for="patente" class="form-control" />
                <span asp-validation-for="patente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcaId" class="control-label"></label>
                <select asp-for="marcaId" class="form-control" asp-items="ViewBag.marcaId"></select>
                <span asp-validation-for="marcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anio" class="control-label"></label>
                <input asp-for="anio" class="form-control" />
                <span asp-validation-for="anio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoVehiculoId" class="control-label"></label>
                <select asp-for="tipoVehiculoId" class="form-control" asp-items="ViewBag.tipoVehiculoId"></select>
                <span asp-validation-for="tipoVehiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="fotografia" />
                <img src="@(!string.IsNullOrEmpty(Model.fotografia) ? "/fotos/"+Model.fotografia : "")" name="imagen" id="imagen" style="max-width:100px" />
                <input type="file" id="foto" name="foto" accept="image/jpeg" />
                <span asp-validation-for="fotografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="concesionariaId" class="control-label"></label>
                <select asp-for="concesionariaId" class="form-control" asp-items="ViewBag.concesionariaId"></select>
                <span asp-validation-for="concesionariaId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" /> |
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}